.style1 {
    font-size: 20px;
}

.style2 {
    font-size: 25px;
}

.style3 {
    margin-top: 1%;
    transform: perspective(100px) translateX(70px);
}

.style4 {
    width: 250px;
    margin-left: 20px;
}

.style5 {
    color: white
}

.style6 {
    margin-top: 80px;
}

.style7 {
    width: 150px;
    height: 50px;
    padding: 5px;
}

.style {
    margin-top: 1%;
}

.style8 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-30px);
}

.style9 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-20px);
}

.style10 {
    margin-top: 1%;
}

.style11 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-70px);
}

.style12 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-400px);
}

.style13 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-100px);
}

.style14 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-270px);
}

.style15 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-200px);
}

.style16 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-150px);
}

.style17 {
    font-size: 20px;

}

.style18 {
    font-size: 20px;
}

.style19 {
    width: 100px;
    text-align: center;
}
.style20{
    text-decoration: line-through;
    color: red;
  }
  .style21{
    margin-top: 1%;
    transform: perspective(100px) translateX(-300px);
  }
  .style22{
    margin-top: 1%;
    transform: perspective(100px) translateX(-150px);
  }
  .style23{
    margin-top: 1%;
    transform: perspective(100px) translateX(-150px);
  }