.style1 {
    font-size: 20px;
}

.style2 {
    font-size: 25px;
}

.style3 {
    margin-top: 1%;
    transform: perspective(100px) translateX(70px);
}

.style4 {
    width: 250px;
    margin-left: 20px;
}

.style5 {
    color: white
}

.style6 {
    margin-top: 80px;
}

.style7 {
    width: 150px;
    height: 50px;
    padding: 5px;
}

.style {
    margin-top: 1%;
}

.style8 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-30px);
}

.style9 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-20px);
}

.style10 {
    margin-top: 1%;
}

.style11 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-70px);
}

.style12 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-400px);
}

.style13 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-100px);
}

.style14 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-315px);
}

.style15 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-200px);
}

.style16 {
    margin-top: 1%;
    transform: perspective(100px) translateX(-150px);
}

.style17 {
    font-size: 20px;

}

.style18 {
    font-size: 20px;
}

.style19 {
    width: 100px;
    text-align: center;
}
.style20{
    text-decoration: line-through;
    color: red;
  }
  .style21{
    margin-top: 1%;
    transform: perspective(100px) translateX(-300px);
  }
  .style22{
    margin-top: 1%;
    transform: perspective(100px) translateX(-150px);
  }
  .style23{
    margin-top: 1%;
    transform: perspective(100px) translateX(-150px);
  }
  .style24{
    transform: perspective(100px) translateY(50px);
  }
  .style25{
    font-size: 20px;
  }
  .style26{
    margin-top: 1%;
    transform: perspective(100px) translateX(90px);
  }
  .style27{
    margin-top: 1%;
    transform: perspective(100px) translateX(-100px);
  }
  .style28{
    transform: perspective(100px) translateX(-1200px) translateY(-590px);
  }
  .style29{
    margin-top: 1%;
    transform: perspective(100px) translate(-100px);
  }
  .style30{
    transform: perspective(100px) translateX(20px);
    color: black;
  }

  .style30{
    background-color:yellow;
  }
  
  .style30:hover{
    background-color:orange;
  }
  
  .style30:focus{
    margin-top: 1px solid yellow;
    margin-bottom: 1px solid yellow;
  }

  .style31{
    margin-top: -5%;
  }
  .style32{
    margin-top: -10%;
    margin-right: -5%;

  }
  .style33{
    transform: perspective(100px) translateX(100px);
  }
  .style34{
    font-size: 15px;
    background-color: yellowgreen;
    color: black;
    border-radius: 5px;
  }

.style35{
  margin-top: 1%;
  transform: perspective(100px) translate(-130px);
}
.style36{
  margin-top: 4%;
}
.style37{
  margin-top: 1%;
  border-radius: 5px;
}